@function icon($iconName, $color) {
  $iconList: (
    home:
      "%3Csvg width='20' height='21' fill='%23#{$color}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.767 6.3 9.1.8a1.5 1.5 0 0 1 1.8 0l7.333 5.5c.378.283.6.728.6 1.2v11a1.5 1.5 0 0 1-1.5 1.5H15.5a1.5 1.5 0 0 1-1.5-1.5v-4.167a2.5 2.5 0 0 0-2.5-2.5h-3a2.5 2.5 0 0 0-2.5 2.5V18.5A1.5 1.5 0 0 1 4.5 20H2.667a1.5 1.5 0 0 1-1.5-1.5v-11a1.5 1.5 0 0 1 .6-1.2Z' stroke='%23fff'/%3E%3C/svg%3E",
    like:
      "%3Csvg width='24' height='22' fill='%23#{$color}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.645 19.999v-.001c-3.015-2.733-5.476-4.966-7.19-7.061C1.747 10.848.833 8.957.833 6.917.833 3.599 3.433 1 6.75 1c1.131 0 2.24.318 3.202.876 1.22.709 2.876.709 4.096 0A6.407 6.407 0 0 1 17.25 1c3.317 0 5.917 2.6 5.917 5.917 0 2.04-.914 3.931-2.622 6.021-1.71 2.093-4.165 4.323-7.17 7.054l-.018.017-.002.001-.344.311a1.5 1.5 0 0 1-2.016-.003l-.35-.32Z' stroke='%23fff'/%3E%3C/svg%3E",
    feed:
      "%3Csvg width='23' height='22' fill='%23#{$color}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.75 21H2.083a1.25 1.25 0 1 1 0-2.5H20.75a1.25 1.25 0 1 1 0 2.5ZM1.5 6.833h19.833A.67.67 0 0 1 22 7.5v7a.67.67 0 0 1-.667.667H1.5a.67.67 0 0 1-.667-.667v-7a.67.67 0 0 1 .667-.667ZM20.75 3.5H2.083a1.25 1.25 0 0 1 0-2.5H20.75a1.25 1.25 0 1 1 0 2.5Z' stroke='%23fff'/%3E%3C/svg%3E",
    alarm:
      "%3Csvg width='20' height='24' fill='%23#{$color}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.197 22.718a1.822 1.822 0 0 1-2.397.002c-.125-.109-.147-.192-.15-.237-.003-.053.014-.135.091-.238.163-.215.516-.412.926-.412h.666c.41 0 .762.197.924.411.077.102.094.184.09.237-.003.045-.024.128-.15.237ZM16.5 10.833v5.005a2.5 2.5 0 0 0 .732 1.768l1.506 1.506a.325.325 0 0 1-.23.555H1.492a.325.325 0 0 1-.23-.555l1.506-1.506a2.5 2.5 0 0 0 .732-1.768v-5.005c0-3.153 1.528-5.725 4.16-6.677.602-.217 1.09-.781 1.09-1.49 0-.692.558-1.25 1.25-1.25s1.25.558 1.25 1.25c0 .709.487 1.272 1.09 1.491 2.623.953 4.16 3.535 4.16 6.676Z' stroke='%23fff'/%3E%3C/svg%3E",
    my:
      "%3Csvg width='20' height='20' fill='%23#{$color}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.167 5.333A4.165 4.165 0 0 1 10 9.5a4.165 4.165 0 0 1-4.167-4.167A4.165 4.165 0 0 1 10 1.167a4.165 4.165 0 0 1 4.167 4.166ZM1.167 17c0-.592.292-1.148.859-1.671.57-.526 1.384-.985 2.325-1.362 1.884-.755 4.154-1.134 5.649-1.134s3.765.38 5.649 1.134c.941.377 1.755.836 2.325 1.362.567.523.86 1.079.86 1.671v.333a1.5 1.5 0 0 1-1.5 1.5H2.666a1.5 1.5 0 0 1-1.5-1.5V17Z' stroke='%23fff'/%3E%3C/svg%3E",

    logo:
      "%3Csvg width='148' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1h24M1 23h24M1 12h24M1 1l11 11M14 1l11 11M1 23l11-11M14 23l11-11' stroke='%23fff' stroke-linecap='round'/%3E%3Cpath d='M36.904 23h1.632V.6h-1.632V23ZM62.95.6v19.456L47.718.6h-1.376V23h1.632V3.544L63.238 23h1.344V.6H62.95ZM72.404 23h8.864c7.104 0 11.904-4.672 11.904-11.2S88.372.6 81.268.6h-8.864V23Zm1.632-1.472V2.072h7.104c6.336 0 10.4 4.032 10.4 9.728s-4.064 9.728-10.4 9.728h-7.104ZM98.842 23h1.632V.6h-1.632V23ZM109.911 21.528v-9.184h11.936v-1.44h-11.936V2.072h13.344V.6h-14.976V23h15.456v-1.472h-13.824ZM146.293.6v19.456L131.061.6h-1.376V23h1.632V3.544L146.581 23h1.344V.6h-1.632Z' fill='%23fff'/%3E%3C/svg%3E",
    close:
      "%3Csvg width='19' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.354 1.02a.5.5 0 0 0-.707-.707L9.332 8.626 1.3.593a.5.5 0 0 0-.707.707l8.033 8.033-8.313 8.313a.5.5 0 1 0 .707.708l8.313-8.313 8.034 8.033a.5.5 0 1 0 .707-.707L10.04 9.333l8.314-8.313Z' fill='%23fff'/%3E%3C/svg%3E",
    search:
      "%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.722 12.667a8.167 8.167 0 1 1-16.333 0 8.167 8.167 0 0 1 16.333 0ZM18.667 18.667l8.888 8.889' stroke='%23fff'/%3E%3C/svg%3E",
    write:
      "%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M5.436 22.452 19.59 8.297l3.86 3.86L9.296 26.313zM20.233 7.654l2.102-2.102c.26-.26.682-.26.943 0l2.917 2.918c.26.26.26.682 0 .942l-2.102 2.102-3.86-3.86ZM4.647 28.137a.667.667 0 0 1-.784-.784l.804-4.02 2 2 2 2-4.02.804Z'/%3E%3C/svg%3E",
    option:
      "%3Csvg width='4' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.333 1.667a1.333 1.333 0 1 1-2.666 0 1.333 1.333 0 0 1 2.666 0Zm0 7.333A1.333 1.333 0 1 1 .667 9a1.333 1.333 0 0 1 2.666 0ZM2 17.667A1.333 1.333 0 1 0 2 15a1.333 1.333 0 0 0 0 2.667Z' fill='%23fff'/%3E%3C/svg%3E",
    password-on:
      "%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 38.5c-9.717 0-18.028-6-21.462-14.5C5.972 15.5 14.283 9.5 24 9.5s18.028 6 21.462 14.5C42.028 32.5 33.717 38.5 24 38.5ZM13.5 24c0 5.796 4.704 10.5 10.5 10.5S34.5 29.796 34.5 24 29.796 13.5 24 13.5 13.5 18.204 13.5 24Z' stroke='%23fff'/%3E%3C/svg%3E",
    password-off:
      "%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.578 37.044A23.514 23.514 0 0 0 24 39c10 0 18.54-6.22 22-15a23.775 23.775 0 0 0-7.987-10.391l-.716.715A22.775 22.775 0 0 1 44.921 24C41.516 32.218 33.434 38 24 38c-3.068 0-5.992-.611-8.66-1.719l-.762.763Zm-2.066-2.178A22.776 22.776 0 0 1 3.08 24C6.484 15.782 14.566 10 24 10c3.868 0 7.509.972 10.693 2.685l.737-.737A23.49 23.49 0 0 0 24 9C14 9 5.46 15.22 2 24a23.778 23.778 0 0 0 9.783 11.595l.73-.729Zm5.734-1.49A10.945 10.945 0 0 0 24 35c6.072 0 11-4.928 11-11 0-2.109-.594-4.08-1.625-5.754l-.729.729A9.95 9.95 0 0 1 34 24c0 5.52-4.48 10-10 10a9.95 9.95 0 0 1-5.025-1.354l-.73.73Zm-1.62-2.623-.708.707A10.96 10.96 0 0 1 13 24c0-6.072 4.928-11 11-11 2.878 0 5.5 1.107 7.46 2.918l-.707.708A9.964 9.964 0 0 0 24 14c-5.52 0-10 4.48-10 10 0 2.602.995 4.973 2.626 6.753Z' fill='%23fff'/%3E%3Cpath d='M43 6.5 8.5 41' stroke='%23fff'/%3E%3C/svg%3E",
  );
  $icon: map-get($iconList, $iconName);
  @return url("data:image/svg+xml, #{$icon}");
}

$color: "aaaaaa";
$active-color: "ffffff";

.icon {
  display: inline-block;
  width: 24px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &.home {
    background-image: icon(home, "none");

    &.active {
      background-image: icon(home, $active-color);
    }
  }

  &.like {
    background-image: icon(like, "none");

    &.active {
      background-image: icon(like, $active-color);
    }
  }
  &.feed {
    background-image: icon(feed, "none");

    &.active {
      background-image: icon(feed, $active-color);
    }
  }
  &.alarm {
    background-image: icon(alarm, "none");

    &.active {
      background-image: icon(alarm, $active-color);
    }
  }
  &.my {
    background-image: icon(my, "none");

    &.active {
      background-image: icon(my, $active-color);
    }
  }

  &.logo {
    background-image: icon(logo, $color);
  }
  &.close {
    background-image: icon(close, $color);
  }
  &.search {
    background-image: icon(search, $color);
  }
  &.write {
    background-image: icon(write, $color);
  }
  &.option {
    background-image: icon(option, $color);
  }
  &.password {
    &.on {
      background-image: icon(password-on, $color);
    }
    &.off {
      background-image: icon(password-off, $color);
    }
  }
}
